---
layout: beta
---

<div class="home"> 

  <div class="recipes xs-px1 xs-mt2">
    <div class="clearfix">
    {% assign sorted = site.recipes | sort:"date" %}
    {% for post in sorted %}

      <div class="sm-col sm-col-6 md-col-6 lg-col-4 xs-px1 xs-mb2">
          <a class="block relative bg-blue" href="{{ post.url | prepend: site.baseurl }}">
            <div class="image ratio bg-cover"{% for image in post.image %} style="background-image:url({{site.baseurl}}/images/{{ image }});"{% endfor %}></div>
            <h1 class="title p2 m0 absolute bold white bottom-0 left-0">{{ post.title }}</h1>
          </a>
      </div>
    {% endfor %}
  </div>
  </div>
  
  <div class="sell bg-blue-tile mt4">
    <div class="clearfix white px2">
      <div class="sm-col md-col-6 px2 md-px4 py2 md-py4">
        <h1>Using this list</h1>
        <p>Find the recipe you want</p>
        <p>Enjoy</p>
      </div>
      <div class="sm-col md-col-6 px2 md-px4 py2 md-py4">
        <h1>To add recipes</h1>
        <p>Markdown + Jekyll under the hood</p>
        <p>Open in <a href="https://gitlab.com/olearycrew/chowdown" target="_blank">GitLab or Gitpod</a></p>
      </div>
    </div>
  </div>
  

</div>
